<div class="card">
  <div class="card-header">
    Block #$000
  </div>
  <div class="card-body">
    <h5 class="card-title">Block Hash: #$555</h5>
    <h6 class="card-title">Previous Block Hash: #$111</h5>
    <h6 class="card-title">Timestamp: #$222</h5>
    <h6 class="card-title">Markle Root: #$333</h5>
    <h6 class="card-title">Nonce: #$444</h5>
    <a href="#" class="btn btn-primary" data-toggle="collapse" data-target="#collapse*$*" aria-expanded="false" aria-controls="collapse*$*">View Transactions</a>
    <div class="collapse" id="collapse*$*">
      <div class="card card-body">
        #$#$
      </div>
    </div>
  </div>
</div>